@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Custom Colors */
  --color-primary-500: #877eff;
  --color-secondary-500: #ffb620;
  --color-blue: #0095f6;
  --color-logout-btn: #ff5a5a;
  --color-navbar-menu: rgba(16, 16, 18, 0.6);
  --color-dark-1: #000000;
  --color-dark-2: #121417;
  --color-dark-3: #101012;
  --color-dark-4: #1f1f22;
  --color-light-1: #ffffff;
  --color-light-2: #efefef;
  --color-light-3: #7878a3;
  --color-light-4: #5c5c7b;
  --color-gray-1: #697c89;
  --color-glassmorphism: rgba(16, 16, 18, 0.60);

  /* Custom Font Sizes */
  --text-heading1-bold: 36px;
  --text-heading1-bold--line-height: 140%;
  --text-heading1-bold--font-weight: 700;

  --text-heading1-semibold: 36px;
  --text-heading1-semibold--line-height: 140%;
  --text-heading1-semibold--font-weight: 600;

  --text-heading2-bold: 30px;
  --text-heading2-bold--line-height: 140%;
  --text-heading2-bold--font-weight: 700;

  --text-heading2-semibold: 30px;
  --text-heading2-semibold--line-height: 140%;
  --text-heading2-semibold--font-weight: 600;

  --text-heading3-bold: 24px;
  --text-heading3-bold--line-height: 140%;
  --text-heading3-bold--font-weight: 700;

  --text-heading4-medium: 20px;
  --text-heading4-medium--line-height: 140%;
  --text-heading4-medium--font-weight: 500;

  --text-body-bold: 18px;
  --text-body-bold--line-height: 140%;
  --text-body-bold--font-weight: 700;

  --text-body-semibold: 18px;
  --text-body-semibold--line-height: 140%;
  --text-body-semibold--font-weight: 600;

  --text-body-medium: 18px;
  --text-body-medium--line-height: 140%;
  --text-body-medium--font-weight: 500;

  --text-body-normal: 18px;
  --text-body-normal--line-height: 140%;
  --text-body-normal--font-weight: 400;

  --text-base-regular: 16px;
  --text-base-regular--line-height: 140%;
  --text-base-regular--font-weight: 400;

  --text-base-medium: 16px;
  --text-base-medium--line-height: 140%;
  --text-base-medium--font-weight: 500;

  --text-base-semibold: 16px;
  --text-base-semibold--line-height: 140%;
  --text-base-semibold--font-weight: 600;

  --text-small-regular: 14px;
  --text-small-regular--line-height: 140%;
  --text-small-regular--font-weight: 400;

  --text-small-medium: 14px;
  --text-small-medium--line-height: 140%;
  --text-small-medium--font-weight: 500;

  --text-small-semibold: 14px;
  --text-small-semibold--line-height: 140%;
  --text-small-semibold--font-weight: 600;

  --text-subtle-medium: 12px;
  --text-subtle-medium--line-height: 16px;
  --text-subtle-medium--font-weight: 500;

  --text-subtle-semibold: 12px;
  --text-subtle-semibold--line-height: 16px;
  --text-subtle-semibold--font-weight: 600;

  --text-tiny-medium: 10px;
  --text-tiny-medium--line-height: 140%;
  --text-tiny-medium--font-weight: 500;

  --text-x-small-semibold: 7px;
  --text-x-small-semibold--line-height: 9.318px;
  --text-x-small-semibold--font-weight: 600;

  /* Custom Screens */
  --breakpoint-xs: 400px;

  /* Custom Shadows */
  --shadow-count-badge: 0px 0px 6px 2px rgba(219, 188, 159, 0.30);
  --shadow-groups-sidebar: -30px 0px 60px 0px rgba(28, 28, 31, 0.50);

  /* Custom Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from { height: 0; }
  to { height: var(--radix-accordion-content-height); }
}
@keyframes accordion-up {
  from { height: var(--radix-accordion-content-height); }
  to { height: 0; }
}

@layer components {
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }
  .head-text {
    @apply text-heading2-bold text-light-1;
  }
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }
  .no-result {
    @apply text-center text-base-regular text-light-3;
  }
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
  }
  .community-card_btn {
    @apply rounded-lg bg-primary-500! px-5 py-1.5 text-small-regular text-light-1;
  }
  .pulse-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }
  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }
  .user-card_btn {
    @apply h-auto min-w-18.5 rounded-lg bg-primary-500! text-[12px] text-light-1;
  }
  .searchbar {
    @apply flex gap-1 rounded-lg bg-dark-3 px-4 py-2;
  }
  .searchbar_input {
    @apply border-none bg-dark-3 text-base-regular text-light-4 outline-none;
  }
  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }
  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }
  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }
  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }
  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
  }
  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }
  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }
  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-6 pb-6 pt-28 max-xl:hidden;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-50 brightness-200;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Shadcn Component Styles */
.tab {
  @apply flex min-h-12.5 flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2;
}
.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
}
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4;
}
.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue;
}
.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1;
}
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col;
}
.comment-form_btn {
  @apply rounded-3xl bg-primary-500 px-8 py-2 text-small-regular text-light-1 max-xs:w-full;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}